<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>

      <style>
          .bg{
          background:#455a64!important;
          }
          .list-group-item.active{
          background:#455a64!important;
          border-color:#78909c!important;}
      </style>
  </head>
  <body>
  {% include 'navbar.html' %}

<!--  maincode-->
  <div class="container">
   <div class="row">



       <div class="col-md-2">
           <div class="list-group mt-3">
  <a href="/home/" class="list-group-item list-group-item-action active">
    All Images
  </a>
               {% for c in cats %}
  <a href="/category/{{c.pk}}" class="list-group-item list-group-item-action">{{c.title}}</a>
               {% endfor %}

</div>



       </div>

       <div class="col-md-10">
           <div class="row mt-3">
               <div class="col-md-12">
                   <div class="card-columns">
                       {% for i in images %}
                       <div class="card" >
  <img src="/media/{{i.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.title}}</h5>
    <p class="card-text">{{i.description}}</p>
    <a href="#" class="btn btn-primary" onclick="showModalwithImage('{{i.image}}')" >View</a>
  </div>
</div>
                       {% endfor %}
                   </div>

               </div>
           </div>



       </div>









   </div>
  </div>

<!-- Modal -->
<div class="modal " id="image-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ImageViewer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="#!" id="image-show" class="img-fluid" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>










    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        function showModalwithImage(imageUrl)
             { $('#image-modal').modal('show')
               $('#image-show').attr('src',`/media/${imageUrl}`)
               }

    </script>


  </body>
</html>
